<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div th:replace="myfragments::myHeader"></div>
    <title>Dodaj zadanie</title>
</head>
<body>
<h3 style="margin: 10px">Dodaj zadanie do wykonania</h3>
<form method="post" th:action="@{/saveTask}" th:object="${task}">
    <input type="text" th:field="*{name}" placeholder="Nazwa zadania" style="margin: 10px"><br/>
    <input type="date" th:field="*{deadline}" style="margin: 10px"><br/>
    <div class="form-group col-md-4" th:field="*{taskCategory}" style="margin: 10px">
        <label for="taskCategory">Rodzaj</label>
        <select id="taskCategory" class="form-control">
            <option selected>Wybierz...</option>
            <option value="HOMEWORK">HOMEWORK</option>
            <option value="WORK">WORK</option>
            <option value="COURSE">COURSE</option>
            <option value="SPORT">SPORT</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin: 10px">Zapisz</button></form>
</body>
</html>